<p>ようこそ<%= @resource.email %>さん!</p>

<p>パスワードの変更申請がされました。下記のリンクより変更を行うことができます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、パスワードの変更が必要ない場合はこのメールを無視してください。</p>
<p>パスワードは上記のリンクをクリックするか、新たに再発行申請がされるまで変更されません。</p>
